<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <form action="/baseframework/result/" method="post" name="search">
                    <div class="form-group col-md-4">
                        {% csrf_token %}
                        <input type="text" name="query" class="form-control input-sm" placeholder="" value="{{ query }}" /><br />
                        <select name="ontology" class="form-control input-sm">
                            <option value="BP" {{ selected.selected_bp }}>Biological Process</option>
                            <option value="CC" {{ selected.selected_cc }}>Cellular Component</option>
                            <option value="MF" {{ selected.selected_mf }}>Molecular Function</option>
                        </select><br />
                        <input type="submit" class="btn btn-default" value="Search" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Detail</strong>
    </div>
    <div class="panel-body">
        {% if state %}
            {% if model|length > 0 %}
                {% for item in model %}
                    <strong>{{ item.key }} :</strong><br />
                    {% if item.value|length > 0 %}
                        {% for value in item.value %}
                            {{ value }}<br />
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% else %}
            <strong>Detail Not Found</strong>
        {% endif %}
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Results</strong>
    </div>
    <div class="panel-body">
        <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#children" aria-controls="children" role="tab" data-toggle="tab">Childrens</a>
                </li>
                <li role="presentation">
                    <a href="#parent" aria-controls="parent" role="tab" data-toggle="tab">Parents</a>
                </li>
                <li role="presentation">
                    <a href="#anccestor" aria-controls="anccestor" role="tab" data-toggle="tab">Ancesstor</a>
                </li>
                <li role="presentation">
                    <a href="#offspring" aria-controls="offspring" role="tab" data-toggle="tab">Offspring</a>
                </li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="children">
                    <br />
                    {% if result.children|length > 0 %}
                        Found : {{ result.children|length }} Data(s)<br /><br />
                        {% for items in result.children %}
                            <div class="panel panel-default">
                                <div class="panel-body">
                                {% for item in items %}
                                    <strong>{{ item.key }} :</strong><br />
                                    {% if item.value|length > 0 %}
                                        {% for value in item.value %}
                                             {{ value }}<br />
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <strong>Childrens Data Not Found</strong>
                    {% endif %}
                </div>
                <div role="tabpanel" class="tab-pane active" id="parent">
                    <br />
                    {% if result.parent|length > 0 %}
                        Found : {{ result.parent|length }} Data(s)<br /><br />
                        {% for items in result.parent %}
                            <div class="panel panel-default">
                                <div class="panel-body">
                                {% for item in items %}
                                    <strong>{{ item.key }} :</strong><br />
                                    {% if item.value|length > 0 %}
                                        {% for value in item.value %}
                                             {{ value }}<br />
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <strong>parents Data Not Found</strong>
                    {% endif %}
                </div>
                <div role="tabpanel" class="tab-pane active" id="anccestor">
                    <br />
                    {% if result.anccestor|length > 0 %}
                        Found : {{ result.anccestor|length }} Data(s)<br /><br />
                        {% for items in result.anccestor %}
                            <div class="panel panel-default">
                                <div class="panel-body">
                                {% for item in items %}
                                    <strong>{{ item.key }} :</strong><br />
                                    {% if item.value|length > 0 %}
                                        {% for value in item.value %}
                                             {{ value }}<br />
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <strong>anccestors Data Not Found</strong>
                    {% endif %}
                </div>
                <div role="tabpanel" class="tab-pane active" id="offspring">
                    <br />
                    {% if result.offspring|length > 0 %}
                        Found : {{ result.offspring|length }} Data(s)<br /><br />
                        {% for items in result.offspring %}
                            <div class="panel panel-default">
                                <div class="panel-body">
                                {% for item in items %}
                                    <strong>{{ item.key }} :</strong><br />
                                    {% if item.value|length > 0 %}
                                        {% for value in item.value %}
                                             {{ value }}<br />
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <strong>offsprings Data Not Found</strong>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>