{% load staticfiles %}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><b>Relevant Document</b></div>
                    <div class="panel-body">
                        <table class="table table-bordered">
                            <tr>
                                <th>Query</th>
                                <th>Relevant</th>
                                <th>Recall</th>
                                <th>Precision</th>
                            </tr>
                            {{ obj_relevant|safe }}
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><b>11 Point Interpolated</b></div>
                    <div class="panel-body">
                        <table class="table table-bordered">
                            <tr>
                                <th>query</th>
                                <th>0.0</th>
                                <th>0.1</th>
                                <th>0.2</th>
                                <th>0.3</th>
                                <th>0.4</th>
                                <th>0.5</th>
                                <th>0.6</th>
                                <th>0.7</th>
                                <th>0.8</th>
                                <th>0.9</th>
                                <th>1.0</th>
                            </tr>
                            {% for key_query, val_query in str_table.items %}
                            <tr>
                                <td>{{ key_query }}</td>
                                {{ val_query|safe }}
                            </tr>
                            {% endfor %}
                            <tr>
                                <td><b>Total Recall</b></td>
                                {{ sum_table|safe }}
                            </tr>
                            <tr>
                                <td><b>Average Recall</b></td>
                                {{ avg_table|safe }}
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading"><b>11 Point Interpolated Chart</b></div>
                    <div class="panel-body">
                        <div id='mychart' style='width: 600px; height: 400px; position: relative;'></div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var data = {{ chart_str }};
            var label = {{ str_label }};

            $(document).ready(function () {
                drawChart('mychart');
            });

            function drawChart(el) {
                var legend = [];
                var plot1 = $.jqplot(el, [data], {
                    seriesColors: ['#4f81bd'],
                    seriesDefaults: {
                        showMarker: true,
                        pointLabels: { show:true }
                    },
                    axesDefaults: {
                        pad: 1.1
                    },
                    axes: {
                        yaxis: {
                            tickOptions: {
                                show: true,
                                formatString: "%'.2f"
                            },
                            rendererOptions: {
                                drawBaseline: true
                            },
                            min: 0,
                            max: 110
                        }
                    },
                    highlighter: {
                        show: true,
                        showLabel: true,
                        tooltipAxes: 'y',
                        sizeAdjust: 7.5 ,
                        tooltipLocation : 'ne'
                    },
                    legend: {},
                    grid: {
                        drawGridlines: false,
                        background: 'transparent',
                        shadow: false,
                        borderWidth: 0
                    }
                });


                plot1.replot();
	    }

        </script>
    </div>
</div>
