@import url(https://fonts.googleapis.com/css?family=Oswald:700);

h1,h2,h3,h4,h5,h6 {
font-family:Oswald,sans-serif;
font-weight:700;
line-height:1;
}

h1 {
text-transform:uppercase;
}

pre {
background-color:#fff;
max-height:8em;
white-space:pre-wrap;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
-webkit-tab-size:2;
-moz-tab-size:2;
-o-tab-size:2;
tab-size:2;
padding:1em;
}

img {
height:auto;
width:100%;
}

a {
color:#d14;
}

.container {
overflow:hidden;
width:60rem;
margin:0 auto;
padding:1rem 2rem;
}

.step {
background-color:rgba(0,0,0,0.025);
margin-bottom:2em;
overflow:hidden;
padding:0 1em;
}

.step__icon {
color:#fff;
display:inline-block;
position:relative;
margin-right:.25em;
text-align:center;
width:1em;
}

.step__icon::after {
background-color:#d14;
content:'';
display:inline-block;
height:1.4em;
left:-.2em;
position:absolute;
top:-.2em;
width:1.4em;
z-index:-1;
-webkit-border-radius:50%;
-moz-border-radius:50%;
border-radius:50%;
}

.step__description {
color:#888;
}

input {
margin-bottom:1em;
}

@media only screen and (min-width: 36em) {
    .taggd-wrapper {
        width: 36em;
    }
}
