<style>
    .btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid #e8e8e8;
        border-radius: 4px;
    }
    .panel-heading {
        background-image: linear-gradient(to bottom,#f5f5f5 0,#f5f5f5 100%) !important;
    }
</style>
<script>
    function goBack() {
        window.history.back();
    }
</script>
<div class="docs-content">
    {% if model %}
    {% if is_popup == False %}
    <button class="btn btn-default btn-md" onclick="goBack()">Back</button>
    {% endif %}

    <div style="margin-top: 10px; margin-bottom:10px;" class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-custom"><b>Term IRI</b></div>
                <div class="panel-body">
                http://www.geneontology.org/go#{{ model.go_id }}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><b>Class</b></div>
                <div class="panel-body">
                {{ model.go_name }}
                </div>
            </div>
            {% if model.go_is_a %}
            <div class="panel panel-default">
                <div class="panel-heading"><b>is a</b></div>
                <div class="panel-body">
                {% for is_a in model.go_is_a %} <div style="margin-left:10px"><a href="{{ base_url }}search/detail?id={{ is_a }}" target="_blank">http://www.geneontology.org/go#{{ is_a }}</a></div> {% endfor %}
                </div>
            </div>
            {% endif %}
            {% if model.go_synonym %}
            <div class="panel panel-default">
                <div class="panel-heading"><b>Synonym</b></div>
                <div class="panel-body">
                {% for synonym in model.go_synonym %} <div style="margin-left:10px">{{ synonym }}</div> {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading"><b>Definition</b></div>
                <div class="panel-body">
                {{ model.go_definition }}
                </div>
            </div>
            {% if dict_hierarcys %}
            <div class="panel panel-default">
                <div class="panel-heading"><b>Hierarcy</b></div>
                <div class="panel-body">
                    <script>
                        var added_item = new Array();
                        function getOntoChild(id, elem) {
                            var id_alt = id.replace(":","_");
                            jQuery("#child" + id_alt).html("loading...");
                            jQuery.ajax({
                                url: "{{ base_url }}search/getontochild",
                                data : {id : id},
                                success : function(response) {
                                    if (response.error == undefined) {
                                        var htmlTxt = "";
                                        var margin = parseInt(jQuery("#child" + id_alt).css("margin-left"));
                                        margin += 10;
                                        for(i = 0; i < response.length;i++) {
                                            var key = Object.keys(response[i])[0];
                                            if (added_item.indexOf(key) < 0) {
                                                var value = response[i][key];
                                                var key_alt = key.replace(":","_");
                                                htmlTxt += "<a href=\"javascript:void(0)\" class=\"btnExpand\" id=\"" + key +"\"><span id=\"btnPlus" + key_alt + "\">+</span> [" + key + "] " + value + "</a> <a target=\"_blank\" href=\"{{ base_url }}search/detail?id=" + key + "\"><span class=\"glyphicon glyphicon-new-window\"></span></a><br /><div style=\"margin-left:20px\" id=\"child" + key_alt + "\"></div>";
                                            }
                                        }
                                        jQuery("#child" + id_alt).html(htmlTxt);
                                        jQuery("#btnPlus" + id_alt).html("-");
                                        jQuery(elem).css("color","#333");
                                    }
                                }
                            });
                        }

                    </script>
                {% for item in dict_hierarcys %}
                    {% for key, value in span_parent.items %}
                        {% if key == item.go_id %}
                            <div style="margin-left:{{ value|add:"10" }}px"></span>
                        {% endif %}
                    {% endfor %}
                    <a href="javascript:void(0)" class="btnExpand" id="{{ item.go_id }}"><span id="btnPlus{{ item.go_id_alt }}">+</span> [{{ item.go_id }}] {{ item.go_name }}</a> <a target="_blank" href="{{ base_url }}search/detail?id={{ item.go_id }}"><span class="glyphicon glyphicon-new-window"></span></a><br />
                    <script>
                        added_item.push("{{ item.go_id }}");
                    </script>
                    {% for key, value in span_parent.items %}
                        {% if key == item.go_id %}
                            </div>
                            <div style="margin-left:{{ value|add:"20" }}px" id="child{{ item.go_id_alt }}">
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <div style="margin-left:{{ tab|add:"10" }}px"><strong>- [{{ model.go_id }}] {{ model.go_name }}</strong></div><br />
                <script>
                    added_item.push("{{ model.go_id }}");
                </script>
            </div>
            </div>
            {% endif %}
        </div>
        <script>
            jQuery(document).on("click",".btnExpand",function() {
                var id = jQuery(this).attr("id");
                getOntoChild(id, jQuery(this));
            });
        </script>
    </div>

    {% else %}
    <h3>Data Not Found</h3>
    {% endif %}
</div>
