<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
                {% if model %}
                    <div class="col-sm-6">
                        <div class="form-group col-md-12">
                            <div class="col-sm-6">Name<span class="pull-right">&nbsp;:</span></div>
                            <div class="col-sm-6">
                                {{ model.name }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        {% if obj_detail %}
                            <table id="tblDetails" class="table_list">
                                <tr>
                                    <th>Module Name</th>
                                    <th>Function Name</th>
                                    <th>Read</th>
                                    <th>Create</th>
                                    <th>Update</th>
                                    <th>Delete</th>
                                    <th>Is Show</th>
                                </tr>
                            {% for row in obj_detail.qs %}
                                <tr>
                                    <td>{{ row.module_id.name }}</td>
                                    <td>{{ row.function_id.name }}</td>
                                    <td>
                                        {% if row.is_allow_read %}
                                            Yes
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if row.is_allow_create %}
                                            Yes
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if row.is_allow_update %}
                                            Yes
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if row.is_allow_delete %}
                                            Yes
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if row.is_show%}
                                            Yes
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </table>
                        {% endif %}
                    </div>
                    <div class="form-group col-md-12">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6">
                            <a id="btnEdit" class="btn btn-default btn-sm">Edit</a>
                            <a id="btnClose" class="btn btn-default btn-sm">Close</a>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $("#btnEdit").click(function(){ $(location).attr("href","{{ base_url }}manage/usergroups/edit/{{ model.pk }}"); });
                        $("#btnClose").click(function(){ $(location).attr("href","{{ base_url }}manage/usergroups/"); });
                    </script>
                {% else %}
                    <h3>Data Not Found</h3>
                {% endif %}
            </div>
        </div>
    </div>
</div>

