<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <form action="" method="post" name="input">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{% if model %}{{ model.pk }}{% endif %}" />
                    <div class="form-group col-md-12">
                        <div class="control-div title_input col-sm-3">Name<i class="fa fa-circle own_require"></i></div>
                        <div class="col-sm-3">
                            <input type="text" name="name" class="form-control input-sm" value="{% if model %}{{ model.name }}{% endif %}" />
                        </div>
                    </div>
                    <br />
                    <strong>Function Info</strong><br/><br/>
                    <table id="tblDetails" class="table_list">
                        <tr>
                            <th>Module Name</th>
                            <th>Function Name</th>
                            <th>Read</th>
                            <th>Create</th>
                            <th>Update</th>
                            <th>Delete</th>
                            <th>Is Show</th>
                            <th>&nbsp;</th>
                        </tr>
                    </table>
                    <button type="button" style="margin-top:10px" class="btn btn-default btn-sm" id="btn-add-function" >Add Function</button>
                    <div class="form-group col-md-12">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-3">
                            <input type="submit" class="btn btn-default" value="Save" />
                            <a href="javascript:void(0)" id="btnCancel" onclick="$(location).attr('href','{{ base_url }}manage/usergroups')" class="btn btn-default">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
            <script type="text/javascript">
            var input_table = new Array();
            var _cnt = 0;

            input_table['tblDetails'] = new azTable('tblDetails');

            function addRowData(data, table_id) {
                input_table[table_id].addRow(data, true, '');
            }

            function removeRow(id, table_id) {
                input_table[table_id].removeRow(id);
            }

            var function_combobox = "{{ function_combobox|safe }}";
            var modules_combobox = "{{ modules_combobox|safe }}";

            function addFunction(table_id, obj_data) {
                if (obj_data == null) {
                    obj_data = {
                        Id: '',
                        ModuleId: '',
                        ModuleName: '',
                        FunctionId: '',
                        FunctionName: '',
                        IsAllowRead: '',
                        IsAllowCreate: '',
                        IsAllowUpdate: '',
                        IsAllowDelete: '',
                        IsShow: ''
                    }

                }

                if (obj_data.Id == undefined) {
                    val_Id = '';
                } else {
                    val_Id = obj_data.Id;
                }

                if (obj_data.ModuleId == undefined) {
                    val_ModuleId = '';
                } else {
                    val_ModuleId = obj_data.ModuleId;
                }

                if (obj_data.ModuleName == undefined) {
                    val_ModuleName = '';
                } else {
                    val_ModuleName = obj_data.ModuleName;
                }

                if (obj_data.FunctionId == undefined) {
                    val_FunctionId = '';
                } else {
                    val_FunctionId = obj_data.FunctionId;
                }

                if (obj_data.FunctionName == undefined) {
                    val_FunctionName = '';
                } else {
                    val_FunctionName = obj_data.FunctionName;
                }

                if (obj_data.IsAllowRead == undefined) {
                    val_IsAllowRead = '';
                } else {
                    val_IsAllowRead = (obj_data.IsAllowRead == 'True' ? 1 : 0);
                }

                if (obj_data.IsAllowCreate == undefined) {
                    val_IsAllowCreate = '';
                } else {
                    val_IsAllowCreate = (obj_data.IsAllowCreate == 'True' ? 1 : 0);;
                }

                if (obj_data.IsAllowUpdate == undefined) {
                    val_IsAllowUpdate = '';
                } else {
                    val_IsAllowUpdate = (obj_data.IsAllowUpdate == 'True' ? 1 : 0);;
                }

                if (obj_data.IsAllowDelete == undefined) {
                    val_IsAllowDelete = '';
                } else {
                    val_IsAllowDelete = (obj_data.IsAllowDelete == 'True' ? 1 : 0);;
                }

                if (obj_data.IsShow == undefined) {
                    val_IsShow = 'False';
                } else {
                    val_IsShow = (obj_data.IsShow == 'True' ? 1 : 0);;
                }

                _cnt++;
                modules_combobox_el = modules_combobox;
                modules_combobox_el = modules_combobox_el.replace("_COUNTER_",_cnt);
                function_combobox_el = function_combobox;
                function_combobox_el = function_combobox_el.replace("_COUNTER_",_cnt);

                addRowData([
                    "<input type='hidden' name='Details' value='" + _cnt + "' />" +
                    "<input type='hidden' name='DetailsId' value='" + val_Id + "' />" +
                    modules_combobox_el,
                    function_combobox_el,
                    "<select id='DetailsIsAllowRead" + _cnt + "' class='form-control input-sm valid' name='DetailsIsAllowRead'><option value='1'>Yes</option><option value='0'>No</option></select>",
                    "<select id='DetailsIsAllowCreate" + _cnt + "' class='form-control input-sm valid' name='DetailsIsAllowCreate'><option value='1'>Yes</option><option value='0'>No</option></select>",
                    "<select id='DetailsIsAllowUpdate" + _cnt + "' class='form-control input-sm valid' name='DetailsIsAllowUpdate'><option value='1'>Yes</option><option value='0'>No</option></select>",
                    "<select id='DetailsIsAllowDelete" + _cnt + "' class='form-control input-sm valid' name='DetailsIsAllowDelete'><option value='1'>Yes</option><option value='0'>No</option></select>",
                    "<select id='DetailsIsShow" + _cnt + "' class='form-control input-sm valid' name='DetailsIsShow'><option value='1'>Yes</option><option value='0'>No</option></select>"
                ],
                table_id);

                selectDefaultCombo("DetailsModuleId" + _cnt,val_ModuleId);
                selectDefaultCombo("DetailsFunctionId" + _cnt,val_FunctionId);
                selectDefaultCombo("DetailsIsAllowRead" + _cnt,val_IsAllowRead);
                selectDefaultCombo("DetailsIsAllowCreate" + _cnt,val_IsAllowCreate);
                selectDefaultCombo("DetailsIsAllowUpdate" + _cnt,val_IsAllowUpdate);
                selectDefaultCombo("DetailsIsAllowDelete" + _cnt, val_IsAllowDelete);
                selectDefaultCombo("DetailsIsShow" + _cnt, val_IsShow);
            }

            {% for row in obj_detail.qs %}
            obj_data = {
                Id: '{{row.pk}}',
                ModuleId: '{{ row.module_id.pk }}',
                FunctionId: '{{ row.function_id.pk }}',
                IsAllowRead: '{{ row.is_allow_read }}',
                IsAllowCreate: '{{ row.is_allow_create }}',
                IsAllowUpdate: '{{ row.is_allow_update }}',
                IsAllowDelete: '{{ row.is_allow_delete }}',
                IsShow: '{{ row.is_show }}'
            };
            addFunction('tblDetails', obj_data);
            {% endfor %}
            jQuery(document).ready(function () {
                jQuery("#btn-add-function").click(function () { addFunction('tblDetails', null) });
            });
        </script>
        </div>
    </div>
</div>
