{% load staticfiles %}
<html>
    <head>
        <title>Content Management - BioSearch</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="{% static 'css/apps.css' %}" />
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}" />
        <link rel="stylesheet/less" href="{% static 'css/table.less' %}" />
        <script type="text/javascript" src="{% static 'js/less/less.setting.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/less/less.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'css/bootstrap/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/azTable.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/font-awesome/font-awesome.min.css' %}">
        <!-- Ionicons -->
        <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
        <!-- Theme style -->
        <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.css' %}">
        <!-- AdminLTE Skins. Choose a skin from the css/skins
             folder instead of downloading all of them to reduce the load. -->
        <link rel="stylesheet" href="{% static 'dist/css/skins/_all-skins.min.css' %}">
        <!-- iCheck -->
        <link rel="stylesheet" href="{% static 'plugins/iCheck/flat/blue.css' %}">
        <!-- Morris chart -->
        <link rel="stylesheet" href="{% static 'plugins/morris/morris.css' %}">
        <!-- jvectormap -->
        <link rel="stylesheet" href="{% static 'plugins/jvectormap/jquery-jvectormap-1.2.2.css' %}">
        <!-- Date Picker -->
        <link rel="stylesheet" href="{% static 'plugins/datepicker/datepicker3.css' %}">
        <!-- Daterange picker -->
        <link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker-bs3.css' %}">
        <!-- bootstrap wysihtml5 - text editor -->
        <link rel="stylesheet" href="{% static 'plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css' %}">
        {% if show_taggd %}
        <!-- Taggd -->
        <link rel="stylesheet" href="{% static 'js/taggd/taggd.css' %}">
        <link rel="stylesheet" href="{% static 'js/taggd/style.css' %}">
        {% endif %}
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            <header class="main-header">
                <a href="" class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><b>A</b>P</span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><b>Admin</b>Page</span>
                </a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top" role="navigation">
                  <!-- Sidebar toggle button-->
                  <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                  </a>
                  <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                      <!-- Tasks: style can be found in dropdown.less -->
                      <!-- User Account: style can be found in dropdown.less -->
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <span class="hidden-xs" id="userlogin"></span>
                        </a>
                      </li>
                        <li>
                            <a href="{{ base_url }}manage/login/logout">
                              <span class="glyphicon glyphicon-off"></span>
                            </a>
                        </li>
                    </ul>
                  </div>
                </nav>
            </header>
            <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu" id="sidebar-menu">
                        <li class="header">MAIN NAVIGATION</li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-dashboard"></i> <span>Home</span> <i class="fa fa-angle-left pull-right"></i>
                            </a>
                        </li>
                    </ul>
                    <script>
                        $(document).ready(function() {
                            $.ajax({
                                url: "{{ base_url }}manage/leftmenu",
                                success: function(result) {
                                    $("#sidebar-menu").html(result);
                                },
                                dataType: "html"
                            });

                            $.ajax({
                                url: "{{ base_url }}manage/getloginname",
                                success: function(result) {
                                    $("#userlogin").html(result);
                                },
                                dataType: "html"
                            });
                        })
                    </script>
                </section>
                <!-- /.sidebar -->
            </aside>
            <div class="content-wrapper">
            <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>Dashboard</h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Dashboard</li>
                    </ol>
                </section>
                <!-- Main content -->
                <section class="content">
                    <section class="col-lg-12">
                        {{ content }}
                    </section>
                </section><!-- /.content -->
            </div><!-- /.content-wrapper -->
            <footer class="main-footer">
            </footer>
        </div>
        <!-- jQuery 2.1.4 -->
        <script src="{% static 'plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>
        <!-- jQuery UI 1.11.4 -->
        <script src="{% static 'js/jquery-ui.min.js' %}"></script>
        <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
        <script>
            $.widget.bridge('uibutton', $.ui.button);
        </script>
        <script type="text/javascript" src="{% static 'js/jqplot/jquery.jqplot.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jqplot/plugins/jqplot.canvasTextRenderer.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jqplot/plugins/jqplot.canvasAxisLabelRenderer.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jqplot/plugins/jqplot.categoryAxisRenderer.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jqplot/plugins/jqplot.pointLabels.min.js' %}"></script>

        <link rel="stylesheet" type="text/css" hrf=".{% static 'js/jqplot/jquery.jqplot.min.css' %}" />
        <!-- Bootstrap 3.3.5 -->
        <script src="{% static 'css/bootstrap/js/bootstrap.min.js' %}"></script>
        <!-- Sparkline -->
        <script src="{% static 'plugins/sparkline/jquery.sparkline.min.js' %}"></script>
        <!-- jQuery Knob Chart -->
        <script src="{% static 'plugins/knob/jquery.knob.js' %}"></script>
        <!-- daterangepicker -->
        <script src="{% static 'js/moment.min.js' %}"></script>
        <script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
        <!-- datepicker -->
        <script src="{% static 'plugins/datepicker/bootstrap-datepicker.js' %}"></script>
        <!-- Bootstrap WYSIHTML5 -->
        <script src="{% static 'plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js' %}"></script>
        <!-- Slimscroll -->
        <script src="{% static 'plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
        <!-- FastClick -->
        <script src="{% static 'plugins/fastclick/fastclick.min.js' %}"></script>
        <!-- AdminLTE App -->
        <script src="{% static 'dist/js/app.min.js' %}"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="{% static 'dist/js/demo.js' %}"></script>
        {% if show_taggd %}
        <script src="{% static 'js/taggd/taggd.js' %}"></script>
        {% endif %}
    </body>
</html>

