{% load staticfiles %}
<html>
    <head>
        <title>BioSearch</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="{% static 'css/apps.css' %}" />
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap-theme.min.css' %}" />
        <link rel="stylesheet/less" href="{% static 'css/table.less' %}" />
        <script type="text/javascript" src="{% static 'js/less/less.setting.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/less/less.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'css/bootstrap/js/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/font-awesome/font-awesome.min.css' %}">
        <!-- Ionicons -->
        <link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
        <!-- Theme style -->
        <link rel="stylesheet" href="{% static 'dist/css/AdminLTE.min.css' %}">
        <!-- AdminLTE Skins. Choose a skin from the css/skins
             folder instead of downloading all of them to reduce the load. -->
        <link rel="stylesheet" href="{% static 'dist/css/skins/_all-skins.min.css' %}">
        <!-- Taggd -->
        <link rel="stylesheet" href="{% static 'js/taggd/taggd.css' %}">
        <link rel="stylesheet" href="{% static 'js/taggd/style.css' %}">
    </head>
    <body class="hold-transition skin-blue sidebar-collapse">
        <div>
            <header class="main-header">
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top" role="navigation" style="background-color: #2ECC71; margin-left:0px">
                  <!-- Sidebar toggle button-->
                    <center>
                        <div id="logo" class="main-header logo-lg" style="color: #fff;font-size:30px;cursor: pointer;"><b>Bio</b>Search</div>
                        <script>
                            $("#logo").click(function() {
                                window.location = "{{ base_url }}";
                            });
                        </script>
                    </center>
                  <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                      <!-- Tasks: style can be found in dropdown.less -->
                      <!-- User Account: style can be found in dropdown.less -->
                      <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          <span class="hidden-xs"></span>
                        </a>
                        <ul class="dropdown-menu">
                          <!-- Menu Footer-->
                          <li class="user-footer">
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </nav>
            </header>
            <div class="content-wrapper">
            <!-- Content Header (Page header) -->
                <!-- Main content -->
                <section class="content">
                    <section class="col-lg-12">
                        {{ content }}
                    </section>
                </section><!-- /.content -->
            </div><!-- /.content-wrapper -->
            <footer class="main-footer">
            </footer>
        </div>
        <!-- jQuery 2.1.4 -->
        <script src="{% static 'plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>
        <!-- jQuery UI 1.11.4 -->
        <script src="{% static 'js/jquery-ui.min.js' %}"></script>
        <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
        <script>
            $.widget.bridge('uibutton', $.ui.button);
        </script>
        <!-- Bootstrap 3.3.5 -->
        <script src="{% static 'css/bootstrap/js/bootstrap.min.js' %}"></script>
        <!-- Slimscroll -->
        <script src="{% static 'plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
        <!-- FastClick -->
        <script src="{% static 'plugins/fastclick/fastclick.min.js' %}"></script>
        <!-- AdminLTE App -->
        <script src="{% static 'dist/js/app.min.js' %}"></script>
        <!-- Taggd -->
        <script src="{% static 'js/taggd/taggd.js' %}"></script>

        <script type="text/javascript">
            $(window).load(function() {
                $('.taggd').each(function(i, e) {
                    $(e).taggd(options[i], data[i]);
                });
            });
        </script>
    </body>
</html>

