.taggd-wrapper {
    overflow: hidden;
    position: relative;
}
.taggd-wrapper .taggd-item {
    background-color: #3c8dbc;
    cursor: pointer;
    display: block;
    padding: 10px;
    z-index: 1000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
.taggd-wrapper .taggd-item.active,
.taggd-wrapper .taggd-item:hover {
    background-color: #3c8dbc;
}
.taggd-wrapper .taggd-item-hover {
    background-color: #3c8dbc;
    color: transparent;
    cursor: default;
    display: block;
    font-weight: lighter;
    opacity: 0;
    overflow: hidden;
    padding: 0 10px;
    z-index: 999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.taggd-wrapper .taggd-item-hover.show {
    color: #fff;
    opacity: 1;
    padding: 10px;
    z-index: 1000;
}

.own-modal-open {
	overflow: hidden;
}
.own-modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	display: none;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	outline: 0;
}
.own-modal.fade .own-modal-dialog {
	-webkit-transition: -webkit-transform .3s ease-out;
	-o-transition:      -o-transform .3s ease-out;
	transition:         transform .3s ease-out;
	-webkit-transform: translate(0, -25%);
	-ms-transform: translate(0, -25%);
	-o-transform: translate(0, -25%);
	transform: translate(0, -25%);
}
.own-modal.in .own-modal-dialog {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
}
.own-modal-open .own-modal {
	overflow-x: hidden;
	overflow-y: auto;
}
.own-modal-dialog {
	position: relative;
	width: auto;
	margin: 10px;
}
.own-modal-content {
	position: relative;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border-radius: 6px;
	outline: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.modal-backdrop.in {
	filter: alpha(opacity=50);
	opacity: .2;
}
.own-modal-header {
	padding: 15px;
}
.own-modal-header .close {
	margin-top: -2px;
}
.own-modal-title {
	margin: 0;
	line-height: 1.42857143;
}
.own-modal-body {
	position: relative;
	padding: 15px;
}
.own-modal-footer {
	padding: 15px;
	text-align: right;
}
.own-modal-footer .btn + .btn {
	margin-bottom: 0;
	margin-left: 5px;
}
.own-modal-footer .btn-group .btn + .btn {
	margin-left: -1px;
}
.own-modal-footer .btn-block + .btn-block {
	margin-left: 0;
}
.own-modal-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll;
}
@media (min-width: 768px) {
	.own-modal-dialog {
		width: 600px;
		margin: 30px auto;
	}
	.own-modal-content {
	}
	.own-modal-sm {
		width: 300px;
	}
}
@media (min-width: 992px) {
	.own-modal-lg {
		width: 900px;
	}
}
.own-modal-header:before,
.own-modal-header:after,
.own-modal-footer:before,
.own-modal-footer:after {
	display: table;
	content: " ";
}
.own-modal-header:after,
.own-modal-footer:after {
	clear: both;
}
body.modal-open {
	overflow: hidden;
}
