<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                 <div class="form-group col-md-12">
                     <span class="pull-right">
                        <button id="btnCreate" class="btn btn-default btn-sm">Create</button>
                     </span>
                     <script>
                         $("#btnCreate").click(function() {
                            $(location).attr("href","{{ base_url }}/manage/modules/create");
                         });
                     </script>
                </div>
                {% if model %}
                <div class="col-sm-6">
                    <table class="table table-bordered">
                        <tr>
                            <th class="col-md-2"></th>
                            <th>Name</th>
                        </tr>
                        {% for row in model %}
                        <tr>
                            <td>
                                <a href="{{ base_url }}/manage/modules/edit/{{ row.id }}" class=" btn btn-default btn-xs" style="text-decoration:none">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                                <a href="#" onclick="deleteModule('{{ row.id }}')" class=" btn btn-default btn-xs" style="text-decoration:none">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </td>
                            <td>
                                <a href="{{ base_url }}/manage/modules/detail/{{ row.id }}">
                                {{ row.name }}
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <script>
                    function deleteModule(id) {
                        var result = confirm("are you sure want to delete this data?");
                        if (result) {
                            window.location = "{{ base_url }}/manage/modules/delete/" + id;
                        }
                        return false;
                    }
                </script>
                {% else %}
                <h3>Data Not Found</h3>
                {% endif %}
            </div>
        </div>
    </div>
</div>
