<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <form action="" method="post" name="input">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{% if model %}{{ model.pk }}{% endif %}" />
                    <div class="form-group col-md-12">
                        <div class="control-div title_input col-sm-3">Name<i class="fa fa-circle own_require"></i></div>
                        <div class="col-sm-3">
                            <input type="text" name="name" class="form-control input-sm" value="{% if model %}{{ model.name }}{% endif %}" />
                        </div>
                    </div>
                    <br />
                    <div class="form-group col-md-12">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-3">
                            <input type="submit" class="btn btn-default btn-sm" value="Save" />
                            <a href="javascript:void(0)" id="btnCancel" onclick="$(location).attr('href','{{ base_url }}manage/modules')" class="btn btn-default btn-sm">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
