<style>
    .search-input {
        width: 560px!important;
        height: 40px!important;
        border-radius: 20px!important;
        padding-left: 20px!important;
        box-sizing: border-box!important;
        color: #16A085!important;
        font-size: 16px!important;
    }
    #search-button {
        position: absolute;
        top: 0;
        right: 0;
        width: 76px;
        height: 40px;
        background-color: #2ECC71;
        border-radius: 0 40px 40px 0;
        border: none !important;
        -webkit-transition: all .2s ease;
        font-size: 18px;
        color: #fdfdfd;
        text-align: center;
        display: none;
        opacity: 0;
        margin-right: -2px;
        background-repeat: no-repeat;
    }
    #search-text {
        width: 575px!important;
        margin: 0 auto;
    }
    .panel-heading {
        background-image: linear-gradient(to bottom,#f5f5f5 0,#f5f5f5 100%) !important;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <form action="{{ search_url }}" method="post" name="search">
            {% csrf_token %}
            <div class="form-group col-md-4" id="search-text">
                <input type="text" id="query-search" name="query" class="form-control input-sm search-input" placeholder="Type Your Keyword" value="{{ query }}" />
                <input type="submit" id="search-button" style="display: inline; opacity: 100;" value="Search" />
            </div>
        </form>
    </div>
</div>
<div class="docs-content" style="margin-top: 20px; padding:20px;">
    {% if model %}

    <div style="margin-top: 10px; margin-bottom:10px;" class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-custom"><b>Term IRI</b></div>
                <div class="panel-body">
                http://www.geneontology.org/go#{{ model.go_id }}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><b>Class</b></div>
                <div class="panel-body">
                {{ model.go_name }}
                </div>
            </div>
            {% if model.go_is_a %}
            <div class="panel panel-default">
                <div class="panel-heading"><b>is a</b></div>
                <div class="panel-body">
                {% for is_a in model.go_is_a %} <div style="margin-left:10px"><a target="_blank" href="{{ base_url }}detailgo?id={{ is_a }}">http://www.geneontology.org/go#{{ is_a }}</a></div> {% endfor %}
                </div>
            </div>
            {% endif %}
            {% if model.go_synonym %}
            <div class="panel panel-default">
                <div class="panel-heading"><b>Synonym</b></div>
                <div class="panel-body">
                {% for synonym in model.go_synonym %} <div style="margin-left:10px">{{ synonym }}</div> {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading"><b>Definition</b></div>
                <div class="panel-body">
                {{ model.go_definition }}
                </div>
            </div>
            {% if dict_hierarcys %}
            <div class="panel panel-default">
                <div class="panel-heading"><b>Hierarcy</b></div>
                <div class="panel-body">
                {% for item in dict_hierarcys %}
                    {% for key, value in span_parent.items %}
                        {% if key == item.go_id %}
                            <span style="margin-left:{{ value }}px"></span>
                        {% endif %}
                    {% endfor %}
                    <a target="_blank" href="{{ base_url }}detailgo?id={{ item.go_id }}">+ [{{ item.go_id }}] {{ item.go_name }}</a><br />
                {% endfor %}
                <span style="margin-left:{{ tab }}px"></span><strong>- [{{ model.go_id }}] {{ model.go_name }}</strong><br />
                </div>
            </div>
            {% endif %}
        </div>

    </div>

    {% else %}
    <h3>Data Not Found</h3>
    {% endif %}
</div>
