<style>
    .btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid #e8e8e8;
        border-radius: 4px;
    }
    .panel-heading {
        background-image: linear-gradient(to bottom,#f5f5f5 0,#f5f5f5 100%) !important;
    }
</style>
<script>
    function goBack() {
        window.history.back();
    }
</script>
<div class="docs-content">
    {% if model %}
    <button class="btn btn-default btn-md" onclick="goBack()">Back</button>

    <div style="margin-top: 10px; margin-bottom:10px;" class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-custom"><b>Term IRI</b></div>
                <div class="panel-body">
                http://www.geneontology.org/go#{{ model.go_id }}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><b>Class</b></div>
                <div class="panel-body">
                {{ model.go_name }}
                </div>
            </div>
            {% if model.go_is_a %}
            <div class="panel panel-default">
                <div class="panel-heading"><b>is a</b></div>
                <div class="panel-body">
                {% for is_a in model.go_is_a %} <div style="margin-left:10px"><a href="{{ base_url }}popupdetail?id={{ is_a }}">http://www.geneontology.org/go#{{ is_a }}</a></div> {% endfor %}
                </div>
            </div>
            {% endif %}
            {% if model.go_synonym %}
            <div class="panel panel-default">
                <div class="panel-heading"><b>Synonym</b></div>
                <div class="panel-body">
                {% for synonym in model.go_synonym %} <div style="margin-left:10px">{{ synonym }}</div> {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading"><b>Definition</b></div>
                <div class="panel-body">
                {{ model.go_definition }}
                </div>
            </div>
            {% if dict_hierarcys %}
            <div class="panel panel-default">
                <div class="panel-heading"><b>Hierarcy</b></div>
                <div class="panel-body">
                {% for item in dict_hierarcys %}
                    {% for key, value in span_parent.items %}
                        {% if key == item.go_id %}
                            <span style="margin-left:{{ value }}px"></span>
                        {% endif %}
                    {% endfor %}
                    <a href="{{ base_url }}popupdetail?id={{ item.go_id }}">+ [{{ item.go_id }}] {{ item.go_name }}</a><br />
                {% endfor %}
                <span style="margin-left:{{ tab }}px"></span><strong>- [{{ model.go_id }}] {{ model.go_name }}</strong><br />
                </div>
            </div>
            {% endif %}
        </div>

    </div>

    {% else %}
    <h3>Data Not Found</h3>
    {% endif %}
</div>
