{% load staticfiles %}
<style>
    .btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid #e8e8e8;
        border-radius: 4px;
    }
    .panel-heading {
        background-image: linear-gradient(to bottom,#f5f5f5 0,#f5f5f5 100%) !important;
    }
    #myModalLabel {
        cursor: pointer;
    }
</style>
<script>
    function getPage(url) {
        $.ajax({
            url: url,
            success : function(result) {
                $("#panel-menu").html(result);
            }
        });
    }
    function goBack() {
        getPage("{{ base_url }}menu/?id=1");
    }
</script>
<div class="panel-body" style="margin: 10 auto; width: 100%;background-color:#fff;border-radius:20px;">
    <button class="btn btn-default btn-md" onclick="goBack()">Back</button>
    <center><h1>Stem Anatomy</h1></center>
    <div style="margin: 0 auto; width: 800px;">
        <img src="{% static 'images/tiliastem.jpg' %}" class="image" />
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $(document).click(function (e) {
            if (e.target === $('#my_modal')[0] && $('body').hasClass('modal-open')) {
                removeModal();
            }
        })
    });
    function removeModal() {
        $(".modal").remove();
        $(".modal-backdrop").remove();
        $("body").removeClass("modal-open");
        $("body").css({
            "overflow-y":"scroll",
            "padding-right":"0px"
        });
    }
    var count = 0;
    function ShowPopup(url, title, height, width, id) {
        var min_height = 80;
        var min_width = 95;
        var modal_id = "modal_" + count;
        if (isNaN(height)) height = min_height;
        if (isNaN(width)) width = min_width;
        if (!isNaN(id)) modal_id = "modal_" + id;

        var html =
            '<div id="my_modal_' + modal_id + '" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">' +
                '<div class="own-modal-dialog" role="document" style="width:' + width + 'vw;">' +
                    '<div class="own-modal-content">' +
                        '<div class="own-modal-header">' +
                            '<button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="removeModal();">' +
                                '<span aria-hidden="true">&times;</span>' +
                            '</button>' +
                            '<div onclick="$(\'#body-detail\').attr(\'src\', \'' + url + '\');"><h4 class="own-modal-title" id="myModalLabel">' + title + '</h4></div>' +
                        '</div>' +
                        '<div class="own-modal-body" id="' + modal_id + '" style="height:' + height + 'vh;">' +
                            '<iframe id="body-detail" src="' + url + '" frameborder="0" height="100%" width="100%" scrolling="auto"></iframe>' +
                        '</div>' +
                    '</div>' +
                '</div>' +
            '</div>';

        $(document).keyup(function(e) {
            if (e.keyCode == 27) { // escape key maps to keycode `27`
                removeModal();
            }
        });

        $("body").append(html);
        //$("#" + modal_id).load(url);

        $("body").css({
            "overflow":"hidden"
        });
        $(".modal").modal({backdrop: 'static', keyboard: false});
        count++;
    }


    var data = [];
    var options = [];

    options.push({
        align: {
            y: 'top'
        },

        offset: {
            top: 12
        },

        handlers: {
            click: function( e, data ) {
                ShowPopup("{{ base_url }}/popupresultgosolr/?query=" + data.uri, data.text);
            },

            mouseenter: 'show',
            mouseleave: 'hide'
        }
    });

    data.push([
        {
            "x": 0.08927603036876355,
            "y": 0.605152637283237,
            "text": "Pith",
            "uri": "Pith"
        },
        {
            "x": 0.3154148590021692,
            "y": 0.5155572615606936,
            "text": "Xylem",
            "uri": "Xylem"
        },
        {
            "x": 0.575718546637744,
            "y": 0.46642431358381503,
            "text": "Sprint Xylem",
            "uri": "Sprint Xylem"
        },
        {
            "x": 0.6820092190889371,
            "y": 0.4519734465317919,
            "text": "Summer Xylem",
            "uri": "Summer Xylem"
        },
        {
            "x": 0.7817922993492408,
            "y": 0.720759573699422,
            "text": "Phloem",
            "uri": "Phloem"
        },
        {
            "x": 0.8913367678958786,
            "y": 0.712089053468208,
            "text": "Cortex",
            "uri": "Cortex"
        },
        {
            "x": 0.9227901301518439,
            "y": 0.26555726156069365,
            "text": "Cork Cambium",
            "uri": "Cork Cambium"
        },
        {
            "x": 0.9564126898047722,
            "y": 0.5039965679190751,
            "text": "Cork",
            "uri": "Cork"
        }
    ]);

    $('.image').each(function(i, e) {
        $(e).taggd(options[i], data[i]);
    });
</script>


