<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                 <div class="form-group col-md-12">
                     <span class="pull-right">
                        <button id="btnCreate" class="btn btn-default">Create</button>
                     </span>
                     <script>
                         $("#btnCreate").click(function() {
                            $(location).attr("href","{{ base_url }}/manage/users/create");
                         });
                     </script>
                </div>
                {% if model %}
                <table class="table table-bordered">
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>E Mail</th>
                        <th>Is Active</th>
                    </tr>
                    {% for row in model %}
                    <tr>
                        <td>
                            <a href="{{ base_url }}/manage/users/edit/{{ row.pk }}" class=" btn btn-default btn-xs" style="text-decoration:none">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a href="#" onclick="deleteModule('{{ row.pk }}')" class=" btn btn-default btn-xs" style="text-decoration:none">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                        <td>
                            <a href="{{ base_url }}/manage/users/detail/{{ row.pk }}">
                            {{ row.name }}
                            </a>
                        </td>
                        <td>
                            {{ row.email }}
                        </td>
                        <td>
                            {{ row.is_active }}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <script>
                    function deleteModule(id) {
                        var result = confirm("are you sure want to delete this data?");
                        if (result) {
                            window.location = "{{ base_url }}/manage/users/delete/" + id;
                        }
                        return false;
                    }
                </script>
                {% else %}
                <h3>Data Not Found</h3>
                {% endif %}
            </div>
        </div>
    </div>
</div>
