<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <form action="" method="post" name="input">
                    {% csrf_token %}
                    <div class="form-group col-md-12">
                        <div class="control-div title_input col-sm-3">User Name<i class="fa fa-circle own_require"></i></div>
                        <div class="col-sm-3">
                            <input type="text" name="username" class="form-control input-sm" value="{% if model %}{{ model.user_name }}{% endif %}" />
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="control-div title_input col-sm-3">Password<i class="fa fa-circle own_require"></i></div>
                        <div class="col-sm-3">
                            <input type="password" name="password" class="form-control input-sm" value="" />
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="control-div title_input col-sm-3">Name<i class="fa fa-circle own_require"></i></div>
                        <div class="col-sm-3">
                            <input type="text" name="name" class="form-control input-sm" value="{% if model %}{{ model.name }}{% endif %}" />
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <div class="control-div title_input col-sm-3">E Mail<i class="fa fa-circle own_require"></i></div>
                        <div class="col-sm-3">
                            <input type="text" name="email" class="form-control input-sm" value="{% if model %}{{ model.email }}{% endif %}" />
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="control-div title_input col-sm-3">Is Active<i class="fa fa-circle own_require"></i></div>
                        <div class="col-sm-3">
                            <input type="checkbox" name="is_active" {% if model %}{% if model.is_active %}checked="checked"{% endif %}{% endif %} value="{% if model %}{{ model.is_active }}{% endif %}" />
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="control-div title_input col-sm-3">User Group<i class="fa fa-circle own_require"></i></div>
                        <div class="col-sm-3">
                            {{ usergroup_combobox|safe }}
                        </div>
                        <script>
                            $(document).ready(function() {
                                selectDefaultCombo("user_group_id","{% if model %}{% if model.user_group_id %}{{ model.user_group_id.pk }}{% endif %}{% endif %}");
                            });
                        </script>
                    </div>
                    <br />
                    <div class="form-group col-md-12">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-3">
                            <input type="submit" class="btn btn-default" value="Save" />
                            <a href="javascript:void(0)" id="btnCancel" onclick="$(location).attr('href','{{ base_url }}manage/users')" class="btn btn-default">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
