{% load staticfiles %}
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
                {% if model %}
                    <div class="col-sm-12">
                        <div class="form-group col-md-12">
                            <div class="col-sm-3">Name<span class="pull-right">&nbsp;:</span></div>
                            <div class="col-sm-6">
                                {{ model.name }}
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-sm-3">Image<span class="pull-right">&nbsp;:</span></div>
                            <div class="col-sm-9">
                                <img class="image" src="{{ base_url }}{{ model.image_file }}" class="image" />
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">
                                <a id="btnEdit" class="btn btn-default btn-sm">Edit</a>
                                <a id="btnClose" class="btn btn-default btn-sm">Close</a>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $("#btnEdit").click(function(){ $(location).attr("href","{{ base_url }}manage/imagetaging/edit/{{ model.pk }}"); });
                        $("#btnClose").click(function(){ $(location).attr("href","{{ base_url }}manage/imagetaging/"); });

                        var options = [];
                        options.push({
                            align: {
                                y: 'top'
                            },

                            offset: {
                                top: 12
                            },

                            handlers: {
                                click: function( e, data ) {
                                    //ShowPopup("{{ base_url }}/popupresultgosolr/?query=" + data.uri, data.text);
                                },

                                mouseenter: 'show',
                                mouseleave: 'hide'
                            }
                        });
                        var data = [];
                        data.push({{ model.taging_data|safe }});
                        $(document).ready(function() {
                             $('.image').each(function(i, e) {
                                $(e).taggd(options[i], data[i]);
                            });
                        });
                    </script>
                {% else %}
                    <h3>Data Not Found</h3>
                {% endif %}
            </div>
        </div>
    </div>
</div>
