{% load staticfiles %}
<!-- Taggd -->
<link rel="stylesheet" href="{% static 'js/taggd_tagging/taggd.css' %}">
<link rel="stylesheet" href="{% static 'js/taggd_tagging/style.css' %}">
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <form action="" method="post" name="input" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{% if model %}{{ model.pk }}{% endif %}" />
                    <div class="form-group col-md-12">
                        <div class="control-div title_input col-sm-3">Name<i class="fa fa-circle own_require"></i></div>
                        <div class="col-sm-3">
                            <input type="text" name="name" class="form-control input-sm" value="{% if model %}{{ model.name }}{% endif %}" />
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="control-div title_input col-sm-3">Image<i class="fa fa-circle own_require"></i></div>
                        <div class="col-sm-3">
                            <input type="file" id="image_file" name="image_file" accept="image/*"/>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <div class="control-div title_input col-sm-3">Preview</div>
                        <div class="col-sm-3">
                            <div id="preview">
                                {% if model %}
                                    {% if model.image_file %}
                                        <div class="taggd-wrapper">
                                            <img src="{{ base_url }}{{ model.image_file }}" class="image" />
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        <input type="hidden" name="preview" value="{% if model %}{{ model.image_file }}{% endif %}">
                    </div>
                    <input type="hidden" id="output" name="output" value="{{ model.taging_data }}" />
                    <input type="hidden" id="output_minify" name="output_minify" />
                    <br />
                    <div class="form-group col-md-12">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-3">
                            <input type="submit" class="btn btn-default" value="Save" />
                            <a href="javascript:void(0)" id="btnCancel" onclick="$(location).attr('href','{{ base_url }}manage/imagetaging')" class="btn btn-default">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Taggd -->
<script src="{% static 'js/taggd_tagging/jquery.taggd.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/taggd_tagging/script.js' %}"></script>
