<div class="panel-body">
    <div style="margin-top: 10px; margin-bottom:10px;" class="row">
        <form action="{{ base_url }}wupalsimilarity" method="post" name="search">
            {% csrf_token %}
            <div class="col-sm-6">
                <input type="text" name="query_1" class="form-control input-sm search-input" value="{{ query_1 }}">
            </div>
            <div class="col-sm-6">
                <input type="text" name="query_2" class="form-control input-sm search-input" value="{{ query_2 }}">
            </div>
            <div class="col-sm-6" style="margin-top:10px">
                <input type="submit" id="search-button" style="display: inline; opacity: 100;" value="Search" />
            </div>
        </form>
    </div>
    <div style="margin-top: 10px; margin-bottom:10px;" class="row">
        <div class="col-sm-6">
            {% if result_1 %}
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-custom"><b>Term IRI 1</b></div>
                <div class="panel-body">
                http://www.geneontology.org/go#{{ result_1.go_id }}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-custom"><b>Term Name 1</b></div>
                <div class="panel-body">
                {{ result_1.go_name }}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-custom"><b>Term Definition 1</b></div>
                <div class="panel-body">
                {{ result_1.go_definition }}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-custom"><b>Term Hierarchy 1</b></div>
                <div class="panel-body">
                    {% for item in result_1_parents %}
                        {% if item.go_id == result_1.go_id %}
                            <b>{{ item.go_name }}</b><br />
                        {% else %}
                            <span class="glyphicon glyphicon-arrow-right"></span> {{ item.go_name }}<br />
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-sm-6">
            {% if result_1 %}
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-custom"><b>Term IRI 2</b></div>
                <div class="panel-body">
                http://www.geneontology.org/go#{{ result_2.go_id }}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-custom"><b>Term Name 2</b></div>
                <div class="panel-body">
                {{ result_2.go_name }}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-custom"><b>Term Definition 2</b></div>
                <div class="panel-body">
                {{ result_2.go_definition }}
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-custom"><b>Term Hierarchy 2</b></div>
                <div class="panel-body">
                    {% for item in result_2_parents %}
                        {% if item.go_id == result_2.go_id %}
                            <b>{{ item.go_name }}</b><br />
                        {% else %}
                            <span class="glyphicon glyphicon-arrow-right"></span> {{ item.go_name }}<br />
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
        {% if result_1 or result_2 %}
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-custom"><b>Wu and Palmer Similarity</b></div>
                <div class="panel-body">
                    <h3>N1 : {{ n_1 }}</h3>
                    <h3>N2 : {{ n_2 }}</h3>
                    <h3>N : {{ index_wp }}</h3>
                    <br />
                    <h2>SimWP (2*N / (N1 + N2)) = {{ wp_sim_1 }}</h2>
                    <h2>SimWP (2*N / (N1 + N2 + (2*N))) = {{ wp_sim_2 }}</h2>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
