<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <form action="/baseframework/result/" method="post" name="search">
                    {% csrf_token %}
                    <div class="form-group col-md-4">
                        <input type="text" name="query" class="form-control input-sm" placeholder="Type Your Keyword" value="{{ query }}" /><br />
                        <select name="ontology" class="form-control input-sm">

                            <option value="BP">Biological Process</option>
                            <option value="CC">Cellular Component</option>
                            <option value="MF">Molecular Function</option>
                        </select><br />
                        <input type="submit" class="btn btn-default" value="Search" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

