<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
                {% if model %}
                    <div class="col-sm-6">
                        <div class="form-group col-md-12">
                            <div class="col-sm-6">Function Id<span class="pull-right">&nbsp;:</span></div>
                            <div class="col-sm-6">
                                {{ model.function_id }}
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-sm-6">Name<span class="pull-right">&nbsp;:</span></div>
                            <div class="col-sm-6">
                                {{ model.name }}
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-sm-6">URL<span class="pull-right">&nbsp;:</span></div>
                            <div class="col-sm-6">
                                {{ model.url }}
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-sm-6">Sequence<span class="pull-right">&nbsp;:</span></div>
                            <div class="col-sm-6">
                                {{ model.sequence }}
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-sm-6">Is Active<span class="pull-right">&nbsp;:</span></div>
                            <div class="col-sm-6">
                                {% if model.is_active %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-sm-6">Is Show<span class="pull-right">&nbsp;:</span></div>
                            <div class="col-sm-6">
                                {% if model.is_active %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-sm-6">Icon<span class="pull-right">&nbsp;:</span></div>
                            <div class="col-sm-6">
                                <img class="image" src="{{ base_url }}{{ model.icon }}" class="image" />
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6">
                                <a id="btnEdit" class="btn btn-default btn-sm">Edit</a>
                                <a id="btnClose" class="btn btn-default btn-sm">Close</a>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $("#btnEdit").click(function(){ $(location).attr("href","{{ base_url }}manage/functions/edit/{{ model.pk }}"); });
                        $("#btnClose").click(function(){ $(location).attr("href","{{ base_url }}manage/functions/"); });
                    </script>
                {% else %}
                    <h3>Data Not Found</h3>
                {% endif %}
            </div>
        </div>
    </div>
</div>

